.header__wrapper {
    display: flex;
    align-items: center;
    padding-block: 1.6rem;
    border-bottom: 1px solid var(--grayblue-400);
}

.header__actions {
    margin-left: auto;
    gap: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
}

@media (width > 48rem) {
    .header {
        margin-bottom: 4.4rem;
    }

    .logo {
        margin-right: 2.4rem;
    }
}