.header__wrapper {
    --header-block-padding: clamp(1rem, 0.4rem + 1.5vw, 1.6rem);
    --nav-indicator-offset: calc(var(--header-block-padding) + clamp(0.25rem, 1vw, 0.75rem) + 2px);

    display: flex;
    align-items: center;
    padding-block: var(--header-block-padding);
    border-bottom: 1px solid var(--grayblue-400);
}

.header__actions {
    margin-left: auto;
    gap: clamp(1rem, 0.5rem + 2vw, 2rem);
}

@media (width > 48rem) {
    .header {
        margin-bottom: clamp(2rem, 1rem + 4vw, 4.4rem);
    }

    .logo {
        margin-right: 2.4rem;
    }
}