.quantity-selector {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem .4rem;
    background-color: var(--grayblue-100);
    flex: 8rem;
    justify-content: space-between;
}

.quantity-selector__button {
    position: relative;
    padding-block: 0;
    
    &::before {
        content: "";
        position: absolute;
        inset: -16px -8px;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &:active {
        translate: 0 1px;
    }
}