.skip-to-main {
    position: absolute;
    translate: 0 -120%;
    transition: translate 0.18s ease;
    color: var(--blue-700);
    background-color: var(--orange-100);
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem 2rem;
    z-index: 999;

    &:focus-visible {
        translate: 0;
        outline: 3px solid var(--blue-700);
        left: 1rem;
        top: 1rem;
    }
}