/* Layout display utilities */
.grid {
    display: grid;
}

.flex {
    display: flex;
    align-items: center;
}

.flex,
.grid {
    gap: 1rem;
}

/* Accessibility utility */
.sr-only {
    position: absolute;
    block-size: 1px;
    inline-size: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}